.column {
    min-width: 20%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;

    height: 80vh;
}
.header {
    margin-top: 10px;
    background: var(--color-primary);
    color: var(--color-grey-100);
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-big);
    font-size: var(--size-big);
}

label{
    background: transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-grey-100);
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-big);
    font-size: var(--size-big);
    transition: 0.2s;
}
label:hover{
    background-color: var(--color-primary);
    transition: 0.2s;
}

label:has(input[type='checkbox']:checked){
    background-color: var(--color-secondary);
    transition: 0.2s;

}
input[type='checkbox']{
    display: none;

}

.dice{
    scale:3;
    animation-name: diceRotation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color:var(--color-primary);
    stroke: var(--color-black);
    stroke-width: 0.2;

}
@media (max-width: 768px) {
    .dice{
        scale:2.5;
    }
}
@media (max-width: 500px) {
    .dice{
        scale:2;
    }
}
@media (max-width: 450px) {
    .dice{
        scale:1.3;
    }
}

@keyframes diceRotation {
    0%{
        rotate: 0deg;

    }
    100%{
        rotate: 360deg

    }
}
