body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  width: 100vw;
  height: 100vh;
  padding: 0;
}

.box {
  margin: 0;
  width: 95vw;
  max-width: 540px;
  height: 95vh;
  background-color: rgb(34, 34, 34);
  border-radius: 10px;
  border: 2px solid rgb(255, 115, 0);
  text-align: center;
}

.letter-box {
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 10px auto;
  margin-left: 0;
  width: 16%;
  min-width: 50px;
  height: 50px;
  background-color: rgb(255, 115, 0);
  position: relative;
  font-size: 2rem;
  font-weight: bold;
}


.num-box,
.indian-box {
  margin:auto;
  margin-left: 0;
  border-radius: 14px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 16%;
  min-width: 50px;
  height: 90px;
  background-color: rgb(58, 56, 54);
  border: 2px solid rgb(236, 115, 28);
  transition: 0.2s;
}
.num-box:hover{
  background-color: rgb(117, 114, 111);
  border: 2px solid rgb(155, 22, 155);
  transition: 0.2s;
}

.indian-box img {
  width: 60px;
  height: 60px;
}

.container-num-boxes {
  margin-left: 10px;
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.container-boxes {
  margin-left: 10px;
  display: flex;
  gap: 10px;
}

.num-box.marked {
  position: relative;
}

.num-box.marked::after {
  content: "O";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: rgb(102, 0, 255);
}

.Button {
  width: 40%;
  color:white;
  max-width: 400px;
  font-size: 1.5rem;
  font-weight: 500;
  border: 1px solid rgb(102, 0, 255);
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  background-color:rgb(58, 56, 54) ;
  transition: 0.3s;
}
.Button:hover{
  background-color: rgb(117, 114, 111);
  transition: 0.3s;
  border-color:rgb(236, 115, 28) ;
}
